In [59]:
import pandas as pd

In [60]:
df = pd.read_csv('../dataset/movies.csv')

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

In [62]:
# salva il dataframe di tutte le righe con budget e gross non nulli
df = df[df['budget'].notnull() & df['gross'].notnull()]

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5436 entries, 0 to 7652
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5436 non-null   object
 1   rating    5424 non-null   object
 2   genre     5436 non-null   object
 3   year      5436 non-null   int64
 4   released  5436 non-null   object
 5   score     5436 non-null   float64
 6   votes     5436 non-null   float64
 7   director  5436 non-null   object
 8   writer    5436 non-null   object
 9   star      5436 non-null   object
 10  country   5435 non-null   object
 11  budget    5436 non-null   float64
 12  gross     5436 non-null   float64
 13  company   5434 non-null   object
 14  runtime   5435 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 679.5+ KB

In [64]:
# stampa i film che hanno rating nullo
df[df['rating'].isnull()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
505,Nausicaä of the Valley of the Wind,NaN,Animation,1984,"November 25, 1987 (United States)",8.1,157000.0,Hayao Miyazaki,Hayao Miyazaki,Sumi Shimamoto,Japan,1000000.0,8736506.0,Nibariki,117.0
1852,Y Tu Mamá También,NaN,Drama,1991,"June 8, 2001 (Mexico)",7.6,118000.0,Alfonso Cuarón,Carlos Cuarón,Maribel Verdú,Mexico,2000000.0,33616692.0,Anhelo Producciones,106.0
2311,Return of the Living Dead III,NaN,Horror,1993,"February 25, 1994 (Brazil)",5.9,14000.0,Brian Yuzna,John Penney,Kent McCord,United States,2000000.0,54207.0,Bandai Visual Company,97.0
2313,Jason Goes to Hell: the Final Friday,NaN,Fantasy,1993,"August 13, 1993 (United States)",4.2,29000.0,Adam Marcus,Jay Huguely,John D. LeMay,United States,3000000.0,15935068.0,New Line Cinema,87.0
2417,Madadayo,NaN,Drama,1993,"April 17, 1993 (Japan)",7.3,5100.0,Akira Kurosawa,Ishirô Honda,Tatsuo Matsumura,Japan,11900000.0,596.0,DENTSU Music And Entertainment,134.0
3114,Happy Together,NaN,Drama,1997,"May 30, 1997 (Hong Kong)",7.7,25000.0,Kar-Wai Wong,Manuel Puig,Leslie Cheung,Hong Kong,4200000.0,585773.0,Block 2 Pictures,96.0
3446,Eyes Wide Shut,NaN,Drama,1999,"July 16, 1999 (United States)",7.4,313000.0,Stanley Kubrick,Stanley Kubrick,Tom Cruise,United Kingdom,65000000.0,162242684.0,Warner Bros.,159.0
3817,Brother,NaN,Crime,2000,"January 27, 2001 (Japan)",7.1,22000.0,Takeshi Kitano,Takeshi Kitano,Takeshi Kitano,United States,10000000.0,15250594.0,Recorded Picture Company (RPC),114.0
3890,Monster's Ball,NaN,Drama,2001,"March 1, 2002 (United States)",7.0,84000.0,Marc Forster,Milo Addica,Billy Bob Thornton,United States,4000000.0,45011434.0,Lee Daniels Entertainment,111.0
3944,Ichi the Killer,NaN,Action,2001,"December 22, 2001 (Japan)",7.0,53000.0,Takashi Miike,Sakichi Sato,Tadanobu Asano,Japan,1400000.0,80631.0,Omega Project,129.0
6983,31,NaN,Horror,2016,"September 16, 2016 (United States)",5.1,19000.0,Rob Zombie,Rob Zombie,Malcolm McDowell,United Kingdom,1500000.0,850419.0,Bow and Arrow Entertainment,102.0
7615,Clinton Road,NaN,Horror,2019,"June 14, 2019 (United States)",5.9,1900.0,Richard Grieco,Noel Ashman,Ace Young,NaN,2500000.0,50400.0,Growing Tree Productions,77.0

In [65]:
df.loc[df['name'] == 'Nausicaä of the Valley of the Wind', 'rating'] = 'PG'
df.loc[df['name'] == 'Y Tu Mamá También', 'rating'] = 'R'
df.loc[df['name'] == 'Return of the Living Dead III', 'rating'] = 'R'
df.loc[df['name'] == 'Jason Goes to Hell: the Final Friday', 'rating'] = 'R'
df.loc[df['name'] == 'Madadayo', 'rating'] = 'PG'
df.loc[df['name'] == 'Happy Together', 'rating'] = 'R'
df.loc[df['name'] == 'Eyes Wide Shut', 'rating'] = 'R'
df.loc[df['name'] == 'Brother', 'rating'] = 'R'
df.loc[df['name'] == 'Monster\'s Ball', 'rating'] = 'R'
df.loc[df['name'] == 'Ichi the Killer', 'rating'] = 'R'
df.loc[df['name'] == '31', 'rating'] = 'R'
df.loc[df['name'] == 'Clinton Road', 'rating'] = 'R'

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5436 entries, 0 to 7652
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5436 non-null   object
 1   rating    5436 non-null   object
 2   genre     5436 non-null   object
 3   year      5436 non-null   int64
 4   released  5436 non-null   object
 5   score     5436 non-null   float64
 6   votes     5436 non-null   float64
 7   director  5436 non-null   object
 8   writer    5436 non-null   object
 9   star      5436 non-null   object
 10  country   5435 non-null   object
 11  budget    5436 non-null   float64
 12  gross     5436 non-null   float64
 13  company   5434 non-null   object
 14  runtime   5435 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 679.5+ KB

In [67]:
df[df['country'].isnull()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
7615,Clinton Road,R,Horror,2019,"June 14, 2019 (United States)",5.9,1900.0,Richard Grieco,Noel Ashman,Ace Young,NaN,2500000.0,50400.0,Growing Tree Productions,77.0

In [68]:
df.loc[df['name'] == 'Clinton Road', 'country'] = 'United States'

In [69]:
df[df['company'].isnull()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
633,The Bear,PG,Biography,1984,"September 28, 1984 (United States)",6.1,270.0,Richard C. Sarafian,Michael Kane,Gary Busey,United States,221000.0,2687148.0,NaN,110.0
1572,Heart of Dixie,PG,Drama,1989,"August 25, 1989 (United States)",5.2,677.0,Martin Davidson,Anne Rivers Siddons,Ally Sheedy,United States,8000000.0,1097333.0,NaN,95.0

In [70]:
df.loc[df['name'] == 'The Bear', 'company'] = 'Emabassy Pictures'
df.loc[df['name'] == 'Heart of Dixie', 'company'] = 'Orion Pictures'

In [71]:
df[df['runtime'].isnull()]

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
6195,One for the Money,PG-13,Action,2012,"January 27, 2012 (United States)",5.3,41000.0,Julie Anne Robinson,Stacy Sherman,Katherine Heigl,United States,40000000.0,38084162.0,Lakeshore Entertainment,NaN

In [72]:
df.loc[df['name'] == 'One for the Money', 'runtime'] = 91

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5436 entries, 0 to 7652
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5436 non-null   object
 1   rating    5436 non-null   object
 2   genre     5436 non-null   object
 3   year      5436 non-null   int64
 4   released  5436 non-null   object
 5   score     5436 non-null   float64
 6   votes     5436 non-null   float64
 7   director  5436 non-null   object
 8   writer    5436 non-null   object
 9   star      5436 non-null   object
 10  country   5436 non-null   object
 11  budget    5436 non-null   float64
 12  gross     5436 non-null   float64
 13  company   5436 non-null   object
 14  runtime   5436 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 679.5+ KB